<div class="container">
    <div class="row mt-5" style="text-align: center;">
        <div class="col-md-12">
            <p class="firstheader">About</p>
            <img class="image" src="../../assets/image/about.PNG"
                alt="Photo of a Doğanay Güneş">
        </div>
    </div>
    <div class="row" style="margin-left: 8em; margin-right: 8em;">
        <div class="col-md-12 m-5">
            <p>I am studying Visual Communication Design at Kütahya Dumlupınar University. I speak fluent
                English.I learned teamwork in the activities in my education life and improved myself in human
                relationships and communication skills. I think that my long-term thinking and empathy skills,
                especially in
                problem solving, crisis management and social relations, will help me in my career life. I aim to add
                value to
                the company in the short term according to my skills and knowledge. In the long run, I want to improve
                my
                experience and learn new things. If you are interested, I would like to communicate face to face.
            </p>
        </div>
    </div>
</div>