<div class="container m-5">
    <div class="row mb-5">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <p class="header">Hi! I'm Doğanay Güneş. I'm an Visual Comminication Design Student based in Ankara.</p>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row mb-3">
        <div class="col-md-4">
            <mat-card class="example-card" (click)="onClick(1)">
                <img class="image"mat-card-image src="../../assets/image/mood.png">
                <mat-card-content class="textStyle">
                    <p>
                        Identity & Branding Design
                    </p>
                    <small>2021</small>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-md-4">
            <mat-card class="example-card" (click)="onClick(1)">
                <img class="image"mat-card-image src="../../assets/image/agostinobarbari/gercekci.png">
                <mat-card-content class="textStyle">
                    <p>
                        Illustrations
                    </p>
                    <small>2022</small>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-md-4">
            <mat-card class="example-card" (click)="onClick(1)">
                <img class="image"mat-card-image src="../../assets/image/cocopembe.jpg
                ">
                <mat-card-content class="textStyle">
                    <p>
                        Use of Photography in Design
                    </p>
                    <small>2021</small>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-4">
            <mat-card class="example-card" (click)="onClick(1)">
                <img class="image"mat-card-image src="../../assets/image/figma.png">
                <mat-card-content class="textStyle">
                    <p>
                        Web Design
                    </p>
                    <small>2022</small>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-md-4">
            <mat-card class="example-card" (click)="onClick(1)">
                <img class="image"mat-card-image src="../../assets/image/moodtea-1.png">
                <mat-card-content class="textStyle">
                    <p>
                        Packaging Design
                    </p>
                    <small>2021</small>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-md-4">
            <mat-card class="example-card" (click)="onClick(1)">
                <img class="image"mat-card-image src="../../assets/image/dergi/Kapakdergi-1.png">
                <mat-card-content class="textStyle">
                    <p>
                        Magazine Design
                    </p>
                    <small>2020</small>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-4">
            <mat-card class="example-card" (click)="onClick(1)">
                <img class="image"mat-card-image src="../../assets/image/advertising.jpg">
                <mat-card-content class="textStyle">
                    <p>
                        Advertising Study
                    </p>
                    <small>2020</small>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-md-4">
            <mat-card class="example-card" (click)="onClick(1)">
                <img class="image"mat-card-image src="../../assets/image/hareketli.gif">
                <mat-card-content class="textStyle">
                    <p>
                        Motion Picture Designs
                    </p>
                    <small>2021</small>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-md-4">
            <mat-card class="example-card" (click)="onClick(1)">
                <img class="image"mat-card-image src="../../assets/image/Metamorfoz2.jpg">
                <mat-card-content class="textStyle">
                    <p>
                        Metamorphosis Study
                    </p>
                    <small>2020</small>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-4">
            <mat-card class="example-card" (click)="onClick(1)">
                <img class="image"mat-card-image src="../../assets/image/tipografi/r.png">
                <mat-card-content class="textStyle">
                    <p>
                        Typoghrapy
                    </p>
                    <small>2021</small>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-md-4">
            <mat-card class="example-card" (click)="onClick(1)">
                <img class="image"mat-card-image src="../../assets/image/fotograf/20200617_214244.png">
                <mat-card-content class="textStyle">
                    <p>
                        Photographs
                    </p>
                    <small>2019</small>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-md-4">
            <mat-card class="example-card" (click)="onClick(1)">
                <img class="image"mat-card-image src="../../assets/image/kontrast/KaliteKontrasti.jpg">
                <mat-card-content class="textStyle">
                    <p>
                        Contrast Studies
                    </p>
                    <small>2019</small>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-4">
            <mat-card class="example-card" (click)="onClick(1)">
                <img class="image"mat-card-image src="../../assets/image/isikgolge/sari_goz02.jpg">
                <mat-card-content class="textStyle">
                    <p>
                        Light-Shadow Research on Image
                    </p>
                    <small>2019</small>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-md-4">
            <mat-card class="example-card" (click)="onClick(1)">
                <img class="image"class="image" mat-card-image src="../../assets/image/yuzeyselton/03.jpg">
                <mat-card-content class="textStyle">
                    <p>
                        Superficial Tonal Studies
                    </p>
                    <small>2019</small>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-md-4">
            <mat-card class="example-card" (click)="onClick(1)">
                <img class="image"mat-card-image src="../../assets/image/ikiboyutluform/01.jpg">
                <mat-card-content class="textStyle">
                    <p>
                        Two Dimensional Form Studies
                    </p>
                    <small>2019</small>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <mat-card class="example-card" (click)="onClick(1)">
                <img class="image"mat-card-image src="../../assets/image/hacimselton/02.jpg">
                <mat-card-content class="textStyle">
                    <p>
                        Volumetric Tonal Studies
                    </p>
                    <small>2019</small>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>